// Tema Escuro - Azul Petróleo
$dark-primary-bg-color: #012a36; // Azul petróleo escuro
$dark-secondary-bg-color: #013947; // Azul petróleo médio
$dark-card-bg-color: #025e73; // Azul petróleo claro
$dark-border-color: #4c97a7; // Azul acinzentado
$dark-title-color: #eaf7f9; // Quase branco
$dark-text-color: #c8e6ea; // Azul acinzentado claro
$dark-link-color: #80e1ff; // Azul celeste claro
$dark-icon-color: #a9d8e6; // Azul suave

// Tema Claro - Azul Petróleo
$light-primary-bg-color: #d9f3f7; // Azul petróleo claro
$light-secondary-bg-color: #b8e2eb; // Azul pastel
$light-card-bg-color: #c7eef3; // Azul muito claro
$light-border-color: #025e73; // Azul petróleo
$light-title-color: #012a36; // Azul petróleo escuro
$light-text-color: #013947; // Azul petróleo médio
$light-link-color: #4c97a7; // Azul acinzentado
$light-icon-color: #025e73; // Azul petróleo claro

// Mixin para aplicar tema escuro
@mixin dark-theme {
  --primary-bg-color: linear-gradient(0deg, #{$dark-primary-bg-color} 20%, #{$dark-secondary-bg-color} 50%);
  --secondary-bg-color: linear-gradient(120deg, #{$dark-secondary-bg-color} 20%, #{$dark-primary-bg-color} 50%);
  --cards-bg-color: #{$dark-card-bg-color};
  --border-color: #{$dark-border-color};
  --title-color: #{$dark-title-color};
  --text-color: #{$dark-text-color};
  --link-color: #{$dark-link-color};
  --icon-color: #{$dark-icon-color};
  --shadow-color: #{$dark-primary-bg-color};
}

// Mixin para aplicar tema claro
@mixin light-theme {
  --primary-bg-color: linear-gradient(0deg, #{$light-primary-bg-color} 20%, #{$light-secondary-bg-color} 50%);
  --secondary-bg-color: linear-gradient(#{$light-secondary-bg-color}, #{$light-primary-bg-color});
  --cards-bg-color: #{$light-card-bg-color};
  --border-color: #{$light-border-color};
  --title-color: #{$light-title-color};
  --text-color: #{$light-text-color};
  --link-color: #{$light-link-color};
  --icon-color: #{$light-icon-color};
  --shadow-color: #{$dark-primary-bg-color};
}
